/01-TBM-QPH/trash
/01-TBM-QPH/MoS2_g0w0*

01-TBM-QPH/MoS2_fulldiag.gpw
01-TBM-QPH/MoS2_gs.gpw
01-TBM-QPH/MoS2_out_gs.txt
01-TBM-QPH/C6H6_minimal.png
01-TBM-QPH/C6H6_extended.png
01-TBM-QPH/C6H6_pzLOs.png
01-TBM-QPH/C4H2_extended.png
01-TBM-QPH/C4H2_minimal.png
random/
deeph3_raw_data
__pycache__/
01-TBM-QPH/Hamiltonian_matrix.png
01-TBM-QPH/deph3_raw_data/

03-train/01-10-mat
03-train/01-10-mat-xyz
03-train/01-10-mat-xyz-gw
03-train/02-16-mat-xyz-gw
*g0w0*
*.gpw
deeph3_raw_data_GW
deephe3_1
g2graph
CH-data-3-mat
02-Graph-NN/g2graph/*
02-Graph-NN/g2graph/HGraph-g2_set-5r0mn-edge=Aij.pkl
03-train/04-all-mat-xyz
01-TBM-QPH/CHON_GW
01-TBM-QPH/GW_Hamiltonian_matrix.png
05-42-CHON-GW-DFT
input
flow
# fp-input
*flow*
trash