/01-TBM-QPH/trash
/01-TBM-QPH/MoS2_g0w0*

01-TBM-QPH/MoS2_fulldiag.gpw
01-TBM-QPH/MoS2_gs.gpw
01-TBM-QPH/MoS2_out_gs.txt
01-TBM-QPH/C6H6_minimal.png
01-TBM-QPH/C6H6_extended.png
01-TBM-QPH/C6H6_pzLOs.png
01-TBM-QPH/C4H2_extended.png
01-TBM-QPH/C4H2_minimal.png
__pycache__/